<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cxf="http://camel.apache.org/schema/cxf"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>

    <cxf:rsServer id="rsServer" 
                  address="http://localhost:9999/rest" 
                  loggingFeatureEnabled="false" 
                  loggingSizeLimit="200" 
                  skipFaultLogging="true">
    </cxf:rsServer>
   
    <cxf:rsClient id="rsClient" 
                  address="http://localhost:9999/rest"
                  loggingFeatureEnabled="false" 
                  skipFaultLogging="true"/>

    <camelContext xmlns="http://camel.apache.org/schema/spring">
        
        <template id="producerTemplate" />

        <endpoint id="rsServerEndpoint" 
              uri="cxfrs://bean://rsServer?resourceClasses=com.buildria.camel.mvc.integration.rest.UserService&amp;bindingStyle=SimpleConsumer" />

        <endpoint id="rsClientEndpoint" 
              uri="cxfrs://bean://rsClient" />
        
        <!-- SpringMVCから呼ばれるルート -->
        <route>
            <from uri="direct:user_edit"/>
            <setHeader headerName="CamelHttpMethod">
                <constant>GET</constant>
            </setHeader>
            <setHeader headerName="CamelHttpPath">
                <simple>/user/$simple{header.id}</simple>
            </setHeader>
            <setHeader headerName="CamelCxfRsResponseClass">
                <constant>com.buildria.camel.mvc.integration.model.User</constant>
            </setHeader>
            <to ref="rsClientEndpoint" pattern="InOut"/>
            <log message="${body}" />
        </route>
        
        <!-- RESTサーバ -->
        <route>
            <from ref="rsServerEndpoint" />
            <choice>
                <when>
                    <simple>$simple{headers.operationName} == 'getUser'</simple>
                    <bean ref="userServiceImpl" method="getUser"/>
                </when>
                <otherwise>
                    <log message="No suitable process for $simple{headers.operationName}"/>
                    <setHeader headerName="CamelHttpResponseCode">
                        <constant>404</constant>
                    </setHeader>
                </otherwise>
            </choice>
            <log message="REST called. ${body}" />
        </route>        
        
    </camelContext>

    <bean id="userServiceImpl" class="com.buildria.camel.mvc.integration.rest.UserServiceImpl" />

</beans>
